<%-include('../layouts/header.ejs') %>
<%-include('../layouts/admin-navbar.ejs')%>

<!-- Sale & Revenue Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-line fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Books Sale - Today</p>
                    <% if (booksToday && booksToday.length > 0) { %>
                        <h6 class="mb-0"><%= booksToday[0].booksSoldToday %></h6>
                    <% } else { %>
                        <h6 class="mb-0">0</h6>
                    <% } %>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-bar fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Books Sale - Total</p>
                    <% if (booksTotal && booksTotal.length > 0) { %>
                        <h6 class="mb-0"><%= booksTotal[0].booksSoldTotal %></h6>
                    <% } else { %>
                        <h6 class="mb-0">0</h6>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-area fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Today Revenue</p>
                    <% if (revenueToday && revenueToday.length > 0) { %>
                        <h6 class="mb-0"><%= revenueToday[0].revenueToday %></h6>
                    <% } else { %>
                        <h6 class="mb-0">0</h6>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-pie fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Total Revenue</p>
                    <% if (revenueTotal && revenueTotal.length > 0) { %>
                        <h6 class="mb-0"><%= revenueTotal[0].revenueTotal %></h6>
                    <% } else { %>
                        <h6 class="mb-0">0</h6>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
        <!-- Sale & Revenue End -->

        <!-- Sales Chart Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-light text-center rounded p-4">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h6 class="mb-0">Monthly Sales</h6>
                        </div>
                        <canvas id="monthly-books"></canvas>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-light text-center rounded p-4">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h6 class="mb-0">Monthly Revenue</h6>
                        </div>
                        <canvas id="monthly-revenue"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sales Chart End -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
            const ctx1 = document.getElementById('monthly-books');
            const ctx2 = document.getElementById('monthly-revenue');
          
            const months = ['July', 'August','September', 'October', 'November', 'December' ];
            const bookOrders = [1,3,25,34,9,0];
            const revenueMonthly= [299,1387,3991,4758,1697,0];

            new Chart(ctx1, {
                type: 'bar',
                data: {
                    labels: months,
                    datasets: [
                        {
                        label: 'Total Book Sales',
                        data: bookOrders,
                        borderWidth: 1,
                        },
                        ],
                    },
              options: {
                scales: {
                  y: {
                    beginAtZero: true
                  }
                }
              }
            });

            new Chart(ctx2, {
                type: 'bar',
                data: {
                    labels: months,
                    datasets: [
                        {
                        label: 'Total Revenue',
                        data: revenueMonthly,
                        borderWidth: 1,
                        },
                        ],
                    },
              options: {
                scales: {
                  y: {
                    beginAtZero: true
                  }
                }
              }
            });
          </script>

        <% include("../layouts/footer.ejs")%>