<%- include('../layouts/header.ejs') %>
<%-include('../layouts/admin-navbar.ejs')%>

<section>
    <div class="container-fluid px-5 py-4">
        <h2 class="text-center text-info mb-3">Genre Management</h2>
        <form class="mb-3">
            <div class="row">
                <div class="col-12 col-lg-6 input-group">
                    <input type="text" class="form-control" placeholder="Search Genres" name="search">
                    <div class="input-group-append">
                        <input type="submit" class="btn btn-primary" value="Search">
                    </div>
                </div>

                <div class="col-12 col-lg-6 text-right">
                    <a href="/admin/add-genre" class="btn btn-primary">Add New Genre</a>
                </div>
            </div>
        </form>
        <% if (genres.length> 0) { %>
            <table class="table table-striped w-auto text-wrap mt-2">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Genre</th>
                        <th class="text-center">About</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i=0; i < genres.length; i++) { %>
                        <tr>
                            <td><%= i+1 %></td>
                            <td><%= genres[i].name %></td>
                            <td class="w-50"><%= genres[i].about %></td>
                            <td>
                                <% if (genres[i].isDeleted==0) { %>
                                    <p> Active </p>
                                <% } else { %>
                                    <p>Deactive</p>
                                <% } %>
                            </td>
                            <td>
                                <a href="/admin/edit-genre?id=<%= genres[i]._id %>" class="btn btn-primary">Edit</a>
                                <% if (genres[i].isDeleted==0) { %>
                                    <a href="/admin/deactivate-genre?id=<%= genres[i]._id %>" class="btn btn-danger">Delete</a>
                                <% } else { %>
                                    <a href="/admin/reactivate-genre?id=<%= genres[i]._id %>" class="btn btn-success">Reactive</a>
                                <% } %>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        <% } else { %>
            <p>Genre Not found</p>
        <% } %>  
        <% if (displayPagination && totalPages > 1) { %>
            <div class="pagination">
                <% if (totalPages > 1) { %>
                  <ul>
                    <% for (let i = 1; i <= totalPages; i++) { %>
                      <li class="<%= i === currentPage ? 'active' : '' %>">
                        <a href="?page=<%= i %>"><%= i %></a>
                      </li>
                    <% } %>
                  </ul>
                <% } %>
            </div>
        <% } %>      
    </div>
</section>
        
<% include("../layouts/footer.ejs")%>