<%- include('../layouts/header.ejs') %>
<%- include('../layouts/admin-navbar.ejs') %>

<div class="container-fluid px-5 py-4">
    <h2 class="text-center text-info mb-3">Coupon Management</h2>
    <form class="mb-3">
        <div class="row">
            <div class="col-12 col-lg-6 input-group">
                <input type="text" class="form-control" placeholder="Search Coupon" name="search">
                <div class="input-group-append">
                    <input type="submit" class="btn btn-primary" value="Search">
                </div>
            </div>

            <div class="col-12 col-lg-6 text-right">
                <a href="/admin/add-coupon" class="btn btn-primary">Add New Coupon</a>
            </div>
        </div>
    </form>

    <% if (coupons.length > 0) { %>
        <table class="table table-striped w-auto text-wrap mt-2">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Coupon Code</th>
                    <th>Discount</th>
                    <th>Expiration Date</th>
                    <th>Minimum Order Amount</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i = 0; i < coupons.length; i++) { %>
                    <tr>
                        <td><%= i + 1 %></td>
                        <td style="font-size: 12px; width:15% ; vertical-align: middle;">
                            <%= coupons[i].code %>
                        </td>
                        <td style="font-size: 12px; width:15% ; vertical-align: middle;">
                            <%= coupons[i].discount %>
                        </td>
                        <td style="font-size: 12px; width:25% ; vertical-align: middle;">
                            <%= coupons[i].expirationDate.toISOString().split('T')[0] %>
                        </td>
                        <td style="font-size: 12px; width:25% ; vertical-align: middle;">
                            <%= coupons[i].minimumOrderAmount %>
                        </td>
                        <td style="font-size: 12px; width:25% ; vertical-align: middle;">
                            <% if (coupons[i].isActive == 1) { %>
                                <p> Active </p>
                            <% } else { %>
                                <p> Deactive </p>
                            <% } %>
                        </td>
                        <td>
                            <% if (coupons[i].isActive == 1) { %>
                                <a href="/admin/deactivate-coupon?id=<%= coupons[i]._id %>" class="btn btn-danger">Deactivate</a>
                            <% } else { %>
                                <a href="/admin/reactivate-coupon?id=<%= coupons[i]._id %>" class="btn btn-success">Reactivate</a>
                            <% } %>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    <% } else { %>
        <p>Coupons Not found</p>
    <% } %>
</div>

<%- include("../layouts/footer.ejs") %>
