<%- include('../layouts/header.ejs') %>
<%-include('../layouts/admin-navbar.ejs')%>

<div class="container-fluid px-5 py-4">
    <h2 class="text-center text-info mb-3">Author Management</h2>
        <form class="mb-3">
            <div class="row">

                <div class="col-12 col-lg-6 input-group">
                    <input type="text" class="form-control" placeholder="Search Author" name="search">
                    <div class="input-group-append">
                        <input type="submit" class="btn btn-primary" value="Search">
                    </div>
                </div>

                <div class="col-12 col-lg-6 text-right">
                    <a href="/admin/add-author" class="btn btn-primary">Add New Author</a>
                </div>
                    
            </div>
        </form>
        <% if (authors.length> 0) { %>
            <table class="table table-striped w-auto text-wrap mt-2">
                <thead>
                    <tr>
                        <th>No</th>                            <th>Author</th>
                        <th>Nationality</th>
                        <th>Picture</th>
                        <th>About</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                <% for (let i=0; i < authors.length; i++) { %>
                    <tr>
                        <td><%= i+1 %></td>
                        <td><%= authors[i].name %></td>
                        <td><%= authors[i].nationality %></td>
                        <td><img src="/authorImages/<%= authors[i].image %>" alt="<%= authors[i].image %>" width="80px" height="100px"></td>
                        <td class="w-50" style="font-size: 13px"><%= authors[i].about %></td>
                        <td>
                            <% if (authors[i].isDeleted==0) { %>
                                <p> Active </p>
                            <% } else { %>
                                <p> Deactive </p>
                            <% } %>
                        </td>
                        <td style="width: 13%;"><a href="/admin/edit-author?id=<%= authors[i]._id %>" class="btn btn-primary">Edit</a>
                            <% if (authors[i].isDeleted==0) { %>
                                <a href="/admin/deactivate-author?id=<%= authors[i]._id %>" class="btn btn-danger">Delete</a>
                            <% } else { %>
                                <a href="/admin/reactivate-author?id=<%= authors[i]._id %>" class="btn btn-success">Reactive</a>
                            <% } %>
                        </td>
                    </tr>
                <% } %>
                </tbody>
            </table>
            <% } else { %>
                <p>Author Not found</p>
            <% } %>
</div>

<% include("../layouts/footer.ejs")%>