<%-include('../layouts/header.ejs')%>
<%-include('../layouts/user-navbar.ejs')%>
<%-include('../layouts/user-info.ejs')%>

<section class="hero-slider">
    <div class="hero-items owl-carousel">
        <div class="single-slider-item set-bg" data-setbg="bannerImages/slider-1.jpg" style="opacity: 0.9">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 style="opacity:1.0">Celebrate 25 Years of Harry Potter</h2>
                        <a href="#" class="primary-btn">Checkout</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider-item set-bg" data-setbg="bannerImages/slider-2.jpg" style="opacity: 0.9">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 style="opacity:1.0">Self Help on September</h2>
                        <a href="#" class="primary-btn">Explore</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="latest-products spad">
    <div class="container">
        <div class="product-filter">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <h2>Explore Our Top Collection</h2>
                    </div>
                </div>
            </div>
        </div>
        <% if (books.length> 0) { %>
            <div class="row" id="product-list">
                <% for (let i=0; i < 12; i++) { %>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-product-item">
                            <figure>
                                <a href="/view-book?id=<%= books[i]._id %>">
                                    <img src="/bookImages/<%= books[i].image %>" alt="<%= books[i].image %>" width="170px" height="360px">
                                </a>
                            </figure>
                            <div class="product-text">
                                <h6><%= books[i].title %></h6>
                                <p>₹<%= books[i].price %></p>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        <% } else { %>
            <p>Book Not found</p>
        <% } %>
    </div>
</section>

<%-include ('../layouts/user-footer.ejs')%>