<%-include('../layouts/header.ejs')%>
<%-include('../layouts/user-navbar.ejs')%>
<%-include('../layouts/user-info.ejs')%>


<section class="latest-products spad">
    <div class="container">
        <div class="product-filter">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <h2>Explore Our Top Collection</h2>
                    </div>
                </div>
            </div>
            <form>
                <div class="row mt-2">
                    <div class="col-8 col-lg-8 input-group">
                        <input type="text" class="form-control" placeholder="Search Book" name="search">
                        <div class="input-group-append">
                            <input type="submit" class="btn btn-secondary" value="Search">
                        </div>
                    </div>
                    <div class="col-4 col-lg-4 input-group justify-content-end">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <a href="?page=<%= currentPage %>&sortField=title&sortOrder=1" class="btn btn-secondary">Title Asc</a>
                          </div>
                          <div class="input-group-prepend ml-3">
                            <a href="?page=<%= currentPage %>&sortField=title&sortOrder=-1" class="btn btn-secondary">Title Desc</a>
                          </div>
                        </div>
                      </div>
                </div>
            </form>
        </div>

        <!-- Div To View The Books "6 In A Row" -->
        <% if (books.length> 0) { %>
            <div class="row mt-2" id="product-list">
                <% for (let i=0; i < books.length; i++) { %>
                    <div class="col-lg-2 col-sm-4 ">
                        <div class="single-product-item">
                            <figure>
                                <a href="/view-book?id=<%= books[i]._id %>">
                                    <img src="/bookImages/<%= books[i].image %>" alt="<%= books[i].image %>" width="70px" height="230px">
                                </a>
                            </figure>
                            <div class="product-text" style="font-size: 12px">
                                <%= books[i].title %><br>
                                ₹<%= books[i].price %>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        <% } else { %>
            <p>Book Not found</p>
        <% } %>

        <!-- Div To View The Page Numbers -->
        <% if (displayPagination && totalPages > 1) { %>
            <div class="pagination">
                <% if (totalPages > 1) { %>
                  <ul>
                    <% for (let i = 1; i <= totalPages; i++) { %>
                      <li class="<%= i === currentPage ? 'active' : '' %>">
                        <a href="?page=<%= i %>"><%= i %></a>
                      </li>
                    <% } %>
                  </ul>
                <% } %>
            </div>

        <% } %>
    </div>
</section>


  

<%-include ('../layouts/user-footer.ejs')%>